.tutorial {
	width: 100em;
	text-align: center;
	margin: auto;
}

.notification {
	margin-top: 20px !important;
}
.title .icon {
	margin-left: 15px;
}

.hero {
	margin-bottom: 20px;
}

.box {
	margin: 2em;
}
